#components-layout-demo-side .logo {
	height: 32px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px;
}
/*
.site-layout .site-layout-background {
	background: #fff;
} */
.site-layout {
	background-color: #112a45;
}

.ant-popover-content {
	margin-left: 100px;
	position: fixed;
	display: flex;
	justify-content: center;
	align-self: center;
}
.ant-popover-arrow {
	display: none;
}
.ant-popover-inner {
	width: 280px;
	height: 500px;
	background-color: transparent;
	display: flex;
	justify-content: center;
}

.ant-popover-inner-content {
	height: 500px;
	margin-top: 10px;
	align-self: center;
}

.editUserModal {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cardEditProfile {
	width: 400;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.editInput {
	height: 30px;
	width: 100%;
	border: 1px solid #111d2c;
	border-radius: 5px;
	padding: 10px;
}
